html{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PTSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  min-width: 1200px;
}

.main-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position:absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
}

h1 {
  margin: 0;
}

.main-header {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -70px;
}

.main-navigation {
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.site-navigation{
  display: flex;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  list-style: none;
}

.navigation-item,
.navigation-item-map {
  width: 240px;
  margin: 0;
  padding: 0;
}

.navigation-item {
  text-align: left;
}

.navigation-item-map,
.site-navigation-current,
.navigation-item-hotels {
  text-align: right;
}

.site-navigation-current {
  width: 240px;
  margin: 0;
  color: #766357;
}

.site-navigation a {
  color: #000000;
}

.site-navigation li:nth-child(2) {
  margin: 0 245px 0 0;
}



.container {
  margin-left: auto;
  margin-right: auto;
}


.intro {
  background-color: #81b3d2;
  background-image: url(../img/index-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:  1200px 511px;
  position: relative;
  display: flex;
  justify-content: space-around;
}


.intro-title img {
  margin-top: 78px;
  margin-bottom: 80px;
}

.intro-title::after {
  content: "";
  position: absolute;
  background-image: url(../img/polygon.svg);
  background-repeat: no-repeat;
  left: 50%;
  margin-left: -600px;
  height: 59px;
  width: 100%;
  top: 476px;


}

.main-info {
  padding: 50px 0;
  text-align: center;
  background-color: white
}

.main-info p {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}

.main-info .description {
  font-size: 21px;
  font-weight: 700;
}

.features {
  display: block;
  margin: auto;
  padding: auto;
}

.five-reasons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
}

.feature {
  display: flex;
  flex-direction: row;
}

.five-reasons,
.feature {
  list-style: none;
  text-align: center;
  line-height: 21px;
}

.features h3 {
  font-size: 21px;
  font-weight: 700;
}

.features p,
.features span {
  font-size: 14px;
  font-weight: 400;
}

.reason-minor-wrapper {
  display: flex;
  flex-direction: row;
}

.reason-main,
.reason-main-town {
  background-color: #81b3d2;
  color: white;
}

.reason-minor p,
.reason-minor span,
.feature-description {
  color: #333333;
}

.reason-minor {
  background-color: #eeeeee;
}

.features-minor {
  background-color: white;
}

.reason-main-town {
  order: 0;
  display: flex;
}

.features-minor {
  order: 1;
}

.reason-main {
  order: 2;
  display: flex;
}

.reason-minor-wrapper {
  order: 3;
}


.booking {

}

.booking-main-info {
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 292px;
}

.booking-wrapper {
  width: 434px;
  margin: auto;
  padding: auto;
}

.booking h2 {
  margin-top: 54px;
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
}

.booking p {
  line-height: 24px;
  font-size: 14px;
  font-weight: 400;
}

.button {
  height: 86px;
  width: 568px;
  line-height: 26px;
  font-size: 21px;
  font-weight: 700;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;

  margin: auto;
  padding: auto;
}

.button:hover,
.button:focus {
  background-color: #604e43;
}

.button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.booking-form {
  background-color: white;
  position: absolute;
  left: 50%;
  margin-left: -284px;
  width: 568px;
  display: flex;
  flex-direction: column;
}

.half-width {
  display: flex;
  flex-direction: row;
}

.booking-form input {
  font: inherit;
  background-color: #f2f2f2;
  border: none;
}

.booking-form input:hover  {
  background-color: #ebebeb;
}

.booking-form input:focus {
  background-color: white;
  border: 2px solid #e5e5e5;
}

.map {
}

.footer  {
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.3);
  position: relative;
  display: flex;
  padding: 37px 0;
  justify-content: space-around;
  z-index: 10;
}

.index-footer {
  margin-top: -130px;
}

.filter {
display: flex;
justify-content: space-between;
}

.filter form {
  font-size: 14px;
  font-weight: 700;
  color: white;
  background-image: url(../img/filter-background.jpg);
  background-repeat: no-repeat;
}

.filter fieldset {
  border: none;
}

.sort {
  display: flex;
  background-color: white;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  line-height: 18px;
  border-bottom: 1px solid #f2f2f2;
  align-items: baseline;
}

.sort-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 240px;
  padding-left: 73px;
  align-items: baseline;
}

.sort-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 887px;
  align-items: baseline;
}


.found {
  font-size: 21px;
  line-height: 26px;
}

.filter-option,
.sort,
.sort-type,
.hotel-list  {
  list-style: none;
}

.hotel-catalog {

}

.hotel-list {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.hotel-list li  {
  background-color: white;
}

.hotel {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #f2f2f2;
  justify-content: space-between;
}

.half-width-hotel {
  display: flex;
}

.button-info {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  background-color: #81b3d2;
  color: white;
}

.button-info:hover
.button-info:focus {
  background-color: #669ec0;
}

.button-info:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-book {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  background-color: #766357;
  color: white;
}

.button-book:hover
.button-book:focus {
  background-color: #604e43;
}

.button-book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}
