html{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "PTSans";
  src: url(../fonts/ptsans.woff) format('woff'),
       url(../fonts/ptsans.woff2) format('woff2');
  font-weight: normal;
}

@font-face {
  font-family: "PTSans";
  src: url(../fonts/ptsansboldbold.woff) format('woff'),
       url(../fonts/ptsansbold.woff2) format('woff2');
  font-weight: 700;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PTSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  min-width: 1200px;
}

.main-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  -webkit-box-shadow: 0 -5px 9px 2px #dbdbdb;
          box-shadow: 0 -5px 9px 2px #dbdbdb;
  background-color: white;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.main-header {
  position: relative;
}

.header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -70px;
  z-index: 3;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.site-navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-left: 72px;
  padding-right: 72px;
  list-style: none;
}

.site-navigation li {
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-navigation li:first-child {
  text-align: left;
}

.site-navigation li:nth-child(2) {
  margin-right: 86px;
  text-align: left;
}

.site-navigation li:nth-child(3) {
  text-align: right;
}

.site-navigation li:last-child {
  text-align: right;
}

.navigation-item,
.navigation-item-current  {
  width: 25%;
  margin: 0;
  padding: 0;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color:#81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation-item-current a {
  color: #766357;
}

.container {
  margin-left: auto;
  margin-right: auto;
}


.intro {
  position: relative;
  background-image: url(../img/index-background.jpg);
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center -80px;
  background-size:  1200px 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}


.intro-title {
  width: 459px;
  height: 353px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 78px;
  padding-bottom: 78px;
}

.intro::after {
  content: "";
  position: absolute;
  background-image: url(../img/polygon.svg);
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  right: 0;
  height: 57px;
}

.main-info {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding-top: 58px;
  padding-bottom: 49px;
}

.main-info p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: black;
  margin: 0;
}


.main-info .description {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding-bottom: 30px;
  width: 580px;
}


.five-reasons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
}


.five-reasons,
.feature {
  list-style: none;
  text-align: center;
  line-height: 21px;
}

.features h3 {
  font-size: 21px;
  font-weight: 700;
  margin: 0;
}

.features p,
.features span {
  font-size: 14px;
  font-weight: 400;
}

.reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
  margin-left: 52px;
  margin-right: 848px;
  margin-top: 48px;
  margin-bottom: 58px;
}

.reason .reason-title {
  padding-bottom: 24px;
}

.reason .reason-number {
  padding-bottom: 21px;
}


.reason-number {
  padding: 0 25px;
}

.reason-main-town {
  background-image: url(../img/town.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-color: #cd9782;
}

.reason-main {
  background-image: url(../img/devils-bridge.jpg);
  background-position: left;
  background-repeat: no-repeat;
  background-color: #cd9782;
}

.reason-main-town p {
  margin: 0;
  padding: 0 8px;
}

.reason-main .reason {
  margin-left: 847px;
  margin-right: 44px;
  margin-top: 45px;
  margin-bottom: 61px;
}

.reason-main p {
  margin: 0;
  padding: 0px;
}

.reason-main-town h3 {
  padding-left: 77px;
  padding-right: 77px;
}

.reason-main h3 {
  padding-left: 40px;
  padding-right: 40px;
}



.reason-minor-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #eeeeee;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 69px;
  padding-right: 73px;
  padding-top: 48px;
  padding-bottom: 58px;
  }

.reason-minor {
  width: 259px;
}

.reason-minor:last-child {
  width: 255px;
}


.reason-minor h3 {
  margin-bottom: 22px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.reason-minor p {
  margin-top: 22px;
  margin-bottom: 0px;
}

.reason-title {
  margin-bottom: 20px;
}


.reason-main,
.reason-main-town {
  background-color: #81b3d2;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reason-main {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.reason-minor p,
.reason-minor span,
.feature-description {
  color: #333333;
}


.features-minor {
  background-color: white;
}

.reason-main-town {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

}



.features-minor {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}


.feature h3 {
  margin-bottom: 27px;
}

.feature p {
  margin: 0;
  padding-left: 58px;
  padding-right: 58px
}

.feature li {
  padding-top: 160px;
  padding-bottom: 80px;
  width: 400px;
}

.feature-headline-house {
  position: relative;
}

.feature-headline-food {
  position: relative;
}

.feature-headline-present {
  position: relative;
}

.feature-headline-house::before {
  content: "";
  position: absolute;
  background-image: url(../img/icon-house.svg);
  background-repeat: no-repeat;
  bottom: 50px;
  left: 50%;
  margin-left: -38px;
  width: 76px;
  height: 72px;
}

.feature-headline-food::before {
  content: "";
  position: absolute;
  background-image: url(../img/icon-food.svg);
  background-repeat: no-repeat;
  bottom: 48px;
  left: 50%;
  margin-left: -37px;
  width: 74px;
  height: 70px;
}

.feature-headline-present::before {
  content: "";
  position: absolute;
  background-image: url(../img/icon-present.svg);
  background-repeat: no-repeat;
  bottom: 48px;
  left: 50%;
  margin-left: -32px;
  width: 64px;
  height: 76px;
}


.reason-main {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reason-minor-wrapper {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}


.booking {
  background-color: white;
  position: relative;
}

.booking-main-info {

  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 auto;
  width: 568px;
  padding-top: 50px;
}

.booking h2 {
  margin: 0;
  padding-bottom: 24px;
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
}

.booking p {
  margin: 0;
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 48px;
}

.button {

  display: inline-block;
  margin: 0 auto;
  padding: 30px 0;
  position: relative;
  vertical-align: middle;


  width: 568px;
  line-height: 26px;
  font-size: 21px;
  font-weight: 700;

  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #604e43;
}

.button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

@-webkit-keyframes bounce {
  0% {-webkit-transform: translateY(-300px);transform: translateY(-300px);}

  70% {-webkit-transform: translateY(30px);transform: translateY(30px);}

  90% {-webkit-transform: translateY(-10px);transform: translateY(-10px);}

  100% {-webkit-transform: translateY(0);transform: translateY(0);}
}

@keyframes bounce {
  0% {-webkit-transform: translateY(-300px);transform: translateY(-300px);}

  70% {-webkit-transform: translateY(30px);transform: translateY(30px);}

  90% {-webkit-transform: translateY(-10px);transform: translateY(-10px);}

  100% {-webkit-transform: translateY(0);transform: translateY(0);}
}

@-webkit-keyframes shake {
  0%,
  100% {-webkit-transform: translateX(0);transform: translateX(0);}

  10%,
  30%,
  50%,
  70%,
  90% {-webkit-transform: translateX(-10px);transform: translateX(-10px);}

  20%,
  40%,
  60%,
  80% {-webkit-transform: translateX(10px);transform: translateX(10px);}
}

@keyframes shake {
  0%,
  100% {-webkit-transform: translateX(0);transform: translateX(0);}

  10%,
  30%,
  50%,
  70%,
  90% {-webkit-transform: translateX(-10px);transform: translateX(-10px);}

  20%,
  40%,
  60%,
  80% {-webkit-transform: translateX(10px);transform: translateX(10px);}
}

 .booking-form {
  display:none
}

.search-form-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.search-form-visible {
  background-color: white;
  position: absolute;
  left: 50%;
  margin-left: -284px;
  width: 458px;
  padding: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
          box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 459px;
}


.half-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 55px;
}

.half-width input {
  width: 38px;
  padding: 5px 1px;
  text-align: center;
}

.adults,
.kids {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adults {
  padding-right: 50px;
}

.adults label {
  padding-right: 40px;
}

.kids label {
  padding-right: 26px;
}

.button-grey {
  width: 38px;
  height:38px;
  vertical-align: middle;
  text-align: center;
  background: #f2f2f2;
  border: none;
  outline: none;
  padding: 0;
}

.button-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 115px;
}

.booking-form input {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  background-color: #f2f2f2;
  border: none;
  padding-top: 6px;
  padding-bottom: 6px;
  text-transform: uppercase;
  height: 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.booking-form input:hover  {
  background-color: #ebebeb;
}

.booking-form input:focus {
  background-color: white;
  border: 2px solid #e5e5e5;
  padding-top: 6px;
  padding-bottom: 6px;
}

.button-grey:hover,
.button-grey:focus {
  background-color: #ebebeb;
}



.minus,
.plus {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color:#a9a9a9;
  text-align: center;
  vertical-align: middle;
}

.minus:hover,
.minus:focus,
.plus:hover,
.plus:focus {
  color: #000000;
}

.minus:active,
.plus:active {
  color: #81b3d2;
}

.date input {
  width: 347px;
  padding-left: 10px;
  position: relative;
  margin-left: auto;
  height: 38px;
}

.calendar {
  position: absolute;
  border: none;
  background-image: url(../img/calendar.png);
  background-repeat: no-repeat;
  background-color: transparent;
  right: 65px;
  width: 21px;
  height: 22px;
}

.calendar:hover,
.calendar:focus {
  background-image: url(../img/calendarblack.png);
  background-repeat: no-repeat;
  background-color: transparent;
  right: 65px;
  width: 21px;
  height: 22px;
}

.calendar:active {
  background-image: url(../img/calendarblue.png);
  background-repeat: no-repeat;
  background-color: transparent;
  right: 65px;
  width: 21px;
  height: 22px;
}



.date input:focus {
  height: 38px;
  width: 347px;
  padding-left: 8px;
}

.date input:active {
  height: 38px;
  background-color: white;
  border: solid 2px #e5e5e5;
  width: 347px;
  padding-left: 8px;
}

.button-submit {
  display: inline-block;
  width: 458px;
  background-color: #81b3d2;
  padding: 16px 0;
  line-height: 26px;
  font-size: 21px;
  font-weight: 700;

  vertical-align: middle;

  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}

.button-submit:hover,
.button-submit:focus  {
  background-color: #669ec0;
}

.button-submit:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}


.footer  {
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px;
  padding-top: 34px;
  padding-right: 96px;
  padding-left: 133px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hashtag {
  line-height: 26px;
  font-size: 21px;
  font-weight: 700;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 155px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 256px;
  margin-right: 222px;

}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 46px;
  height: 48px;
  margin-top: 2px;
  background-color: #81b3d2;
  margin-right: 6px;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
  fill-opacity: 0.3;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3px;
}

.footer-copyright p {
  margin: 0;
  padding-bottom: 3px;
  line-height: 26px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

/*.footer-copyright img {
  padding-top: 3px;
  padding-left: 10px;
}*/

.academy-logo {
  width: 115px;
  height: 41px;
  margin-left: 9px;
  background: url(../img/logo-name.png) no-repeat;
}

.academy-logo:hover {
  background: url(../img/logo-name-2.png) no-repeat;
}

.academy-logo:active {
  background: url(../img/logo-name-3.png) no-repeat;
}

.index-footer {
  margin-top: -128px;
}


.filter form {
  font-size: 14px;
  font-weight: 700;
  color: white;
  background-image: url(../img/filter-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 72px;
  padding-top: 27px;
  padding-bottom: 10px;
  margin: 0;
}

.infrastructure,
.hotel-category {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter input[type="checkbox"] {
  display: none;
}

.filter-option {
  font-weight: 400;
  line-height: 21px;
  font-size: 14px;
  vertical-align: middle;
}

.checkbox-custom,
.label {
	display: inline-block;
	vertical-align: middle;
}


.checkbox-custom,
.option-name {
	display: inline-block;
	vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox-custom  {
  position: relative;
  padding-right: 14px;
  width: 23px;
  height: 23px;
}

.checkbox-custom::before{
  content: "";
  position: absolute;
  background-image: url(../img/checkbox-off.png);
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
  top: 0;
  left: 0;
}

.checkbox:checked + .checkbox-custom::before {
  content: "";
  position: absolute;
  background-image: url(../img/checkbox-on.png);
  background-repeat: no-repeat;
  width: 27px;
  height: 23px;
  top: 0;
  left: 0;
}


.checkbox:disabled + .checkbox-custom::before {
  content: "";
  position: absolute;
  background-image: url(../img/checkbox-off-3.png);
  background-repeat: no-repeat;
  width: 27px;
  height: 23px;
  top: 0;
  left: 0;
}

.checkbox:checked:disabled + .checkbox-custom {
  content: "";
  position: relative;
  background-image: url(../img/checkbox-on-2.png);
  background-repeat: no-repeat;
  padding-right: 13px;
  width: 23px;
  height: 23px;
  top: 0;
  left: 0px;
}


.filter fieldset {
  border: none;
  width: 254px;
  padding: 0;
  margin: 0;
}

.filter fieldset:nth-child(3) {
  margin-left: auto;
}

.filter legend {
  font-weight: 700;
  line-height: 21px;
  font-size: 16px;
  margin-bottom: 20px;
}

.infrastructure,
.hotel-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}


.infrastructure li,
.hotel-category li {
  margin-bottom: 18px;
  line-height: 26px;
  font-size: 14px;
  font-weight: 400;
}


.filter-range {
  width: 318px;
  margin-left: auto;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 10px;
  padding-left: 3px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 33px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}


.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  vertical-align: middle;

  font-size: 14px;
  line-height: 32px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 83px;
  padding-left: 65px;
  line-height: inherit;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.filter-submit {
  display: block;
  margin: 0 85px;
  padding: 6px 34px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.filter-submit:hover {
  color: #000000;

  background: #ffffff;
}



.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: white;
  font-size: 12px;
  line-height: 18px;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 31px;
  padding-top: 29px;
}

.sort p {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 70px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.sort-price {
  padding-right: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  margin-left: auto;
}

.sort-by-price path {
  fill: #cacaca;
}

.sort-by-price-current path {
  fill: #81b3d2;
}

.sort-by-price path:hover,
.sort-by-price-current path:hover {
  fill: #231f20;
}

.sort-by-price path:focus,
.sort-by-price-current path:focus {
  fill: #81b3d2;
}

.sort-by-price path:active,
.sort-by-price-current path:active {
  fill: #81b3d2;
}

.sort ul {
  font-weight: 400;
  list-style: none;
  padding-left: 49px;
}

.sort li:nth-child(2) {
  padding-left: 10px;
}


.sort-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  width: 355px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sort-type a {
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
}

.sort-type li:nth-child(2) a {
  color: #81b3d2;
  border-bottom: none;
}

.sort-by:hover,
.sort-by:focus {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sort-by:active  {
  color: black;
  border-bottom: none;
}


.found {
  font-size: 21px;
  line-height: 26px;
}

.filter-option,
.sort,
.sort-type,
.hotel-list  {
  list-style: none;
}

.hotel-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  list-style: none;
  padding: 0;
}


.hotel-list article  {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 24px;
  padding-left: 6%;
  padding-bottom: 30px;
  border-bottom: 1px solid #f2f2f2;
}


.hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 24px;
  padding-left: 6%;
  padding-bottom: 22px;
  border-bottom: 1px solid #f2f2f2;
}

.hotel img {
  padding-top: 6px;
  width: 135px;
  height: 90px;
}

.hotel-info {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hotel-info h4 a {
  color: black;
  padding-left: 1px;
}

.hotel-info h4 a:hover,
.hotel-info h4 a:focus {
  color: #81b3d2;
}

.hotel-info h4 a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-info h4 {
  margin: 0;
  text-transform: uppercase;
  line-height: 26px;
  font-size: 21px;
  margin-bottom: 8px;
}

.hotel-info p{
  text-transform: uppercase;
  line-height: 21px;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 13px;
}

.half-width-hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  width: 258px;
}

.hotel-category-list {
  margin-right: 6px;
}

.button-info,
.button-book {
  display: inline-block;
  padding: 3px 17px;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: white;

  text-align: center;
  text-transform: uppercase;
  border: none;
  height: 27px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  vertical-align: middle;
}


.button-info {
  background-color: #81b3d2;
}

.button-info:hover,
.button-info:focus {
  background-color: #669ec0;
}

.button-info:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-book {
  background-color: #766357;
}

.button-book:hover,
.button-book:focus {
  background-color: #604e43;
}

.button-book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.main-rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 120px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  margin-left: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 73px;
  padding-top: 4px;
}

.rate p {
  font-weight: 400;
  margin: 0;
}

.rate {
  color: #666666;
  background-color: #f2f2f2;
  text-align: center;
  padding: 0;
  margin-left: 10px;
}

.stars-rate {
  padding-bottom: 22px;
}

.star {
  width: 18px;
  height: 17px;
}


.hotel-item:first-child .star:nth-child(2) {
  padding-right: 4px;
}
