html{
  box-sizing: border-box;
}

@font-face {
  font-family: "PTSans";
  src: url(../fonts/ptsans.woff);
  font-weight: normal;
  font-size: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "PTSans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  min-width: 1200px;
}

.main-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  box-shadow: 0 -5px 9px 2px #dbdbdb;
  background-color: white;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1 {
  margin: 0;
}


.header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -70px;
  z-index: 3;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.site-navigation {
  position: relative;
  display: flex;
  margin: 0;
  padding-left: 72px;
  padding-right: 72px;
  list-style: none;
}

.site-navigation li {
  padding-top: 14px;
  padding-bottom: 16px;
}

.site-navigation li:first-child {
  text-align: left;
}

.site-navigation li:nth-child(2) {
  margin-right: 100px;
  text-align: left;
}

.site-navigation li:nth-child(3) {
  text-align: right;
}

.site-navigation li:last-child {
  text-align: right;
}

.navigation-item,
.navigation-item-current  {
  width: 25%;
  margin: 0;
  padding: 0;
}

.site-navigation a {
  color: #000000;
}

.navigation-item-current a {
  color: #766357;
}

.container {
  margin-left: auto;
  margin-right: auto;
}


.intro {
  position: relative;
  background-image: url(../img/index-background.jpg);
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center -80px;
  background-size:  1200px 800px;
  display: flex;
}


.intro-title {
  margin-left: auto;
  margin-right: auto;
  padding-top: 78px;
  padding-bottom: 70px;
}

.intro::after {
  content: "";
  position: absolute;
  background-image: url(../img/polygon.svg);
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  right: 0;
  height: 57px;
}

.main-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 58px;
  padding-bottom: 48px;
}

.main-info p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  margin: 0;
}


.main-info .description {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding-bottom: 30px;
  width: 580px;
}


.five-reasons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
}


.five-reasons,
.feature {
  list-style: none;
  text-align: center;
  line-height: 21px;
}

.features h3 {
  font-size: 21px;
  font-weight: 700;
  margin: 0;
}

.features p,
.features span {
  font-size: 14px;
  font-weight: 400;
}

.reason {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 50px;
  padding-bottom: 58px;
}


.reason-number {
  padding: 0 25px;
}


.reason-main-town p {
  margin: 0;
  padding: 0 8px;
  padding-right: 12px;
}

.reason-main p {
  margin: 0;
}

.reason-main p {
  padding: 0px;
}

.reason-main-town h3 {
  padding-left: 77px;
  padding-right: 77px;
}

.reason-main h3 {
  padding-left: 77px;
  padding-right: 77px;
}



.reason-minor-wrapper {
  display: flex;
  background-color: #eeeeee;
  justify-content: space-between;
  padding-left: 69px;
  padding-right: 69px;
  padding-top: 48px;
  padding-bottom: 60px;
  }

.reason-minor {
  width: 260px;
}

.reason-minor:last-child {
  width: 255px;
}


.reason-minor h3 {
  margin-bottom: 22px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.reason-minor p {
  margin-top: 24px;
  margin-bottom: 0px;
}

.reason-title {
  margin-bottom: 20px;
}


.reason-main,
.reason-main-town {
  background-color: #81b3d2;
  color: white;
  display: flex;
}

.reason-main {
  flex-direction: row-reverse;
}

.reason-minor p,
.reason-minor span,
.feature-description {
  color: #333333;
}


.features-minor {
  background-color: white;
}

.reason-main-town {
  display: flex;

}



.features-minor {
  order: 1;
}

.feature {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}


.feature h3 {
  margin-bottom: 27px;
}

.feature p {
  margin: 0;
  padding-left: 58px;
  padding-right: 58px
}

.feature li {
  padding-top: 160px;
  padding-bottom: 82px;
  width: 400px;
}

.feature-headline-house {
  position: relative;
}

.feature-headline-food {
  position: relative;
}

.feature-headline-present {
  position: relative;
}

.feature-headline-house::before {
  content: "";
  position: absolute;
  background-image: url(../img/icon-house.svg);
  background-repeat: no-repeat;
  bottom: 50px;
  left: 50%;
  margin-left: -38px;
  width: 76px;
  height: 72px;
}

.feature-headline-food::before {
  content: "";
  position: absolute;
  background-image: url(../img/icon-food.svg);
  background-repeat: no-repeat;
  bottom: 48px;
  left: 50%;
  margin-left: -37px;
  width: 74px;
  height: 70px;
}

.feature-headline-present::before {
  content: "";
  position: absolute;
  background-image: url(../img/icon-present.svg);
  background-repeat: no-repeat;
  bottom: 48px;
  left: 50%;
  margin-left: -32px;
  width: 64px;
  height: 76px;
}


.reason-main {
  order: 2;
  display: flex;
}

.reason-minor-wrapper {
  order: 3;
}


.booking {
  background-color: white;
}

.booking-main-info {

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto;
  width: 568px;
}

.booking-wrapper {
  margin-top: 50px;
  margin-bottom: 47px;
}

.booking h2 {
  margin: 0;
  padding-bottom: 23px;
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
}

.booking p {
  margin: 0;
  padding: 0 60px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 400;
}

.button {

  display: inline-block;
  margin: 0 auto;
  padding: 30px 0;
  position: relative;


  width: 568px;
  line-height: 26px;
  font-size: 21px;
  font-weight: 700;

  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #604e43;
}

.button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.booking-form {
  background-color: white;
  position: absolute;
  left: 50%;
  margin-left: -284px;
  width: 458px;
  padding: 55px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  flex-wrap: wrap;
}

.date {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  align-items: center;
  width: 459px;
}


.half-width {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 55px;
}

.half-width input {
  width: 38px;
  padding: 5px 1px;
  text-align: center;
}

.adults,
.kids {
  display: flex;
  justify-content:space-between;
/*  width: 230px;*/
  align-items: center;
}

.adults {
  padding-right: 50px;
}

.adults label {
  padding-right: 40px;
}

.kids label {
  padding-right: 26px;
}

.button-grey {
  width: 38px;
  vertical-align: middle;
  text-align: center;
  background: #f2f2f2;
  border: none;
  outline: none;
  padding: 0;
}

.button-number {
  display: flex;
  width: 115px;
}

.minus,
.plus {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color:#a9a9a9;
  text-align: center;
  vertical-align: middle;
}

.booking-form input {
  font: inherit;
  background-color: #f2f2f2;
  border: none;

  padding-top: 6px;
  padding-bottom: 6px;
  text-transform: uppercase;
  height: 26px;

}

.date input {
  width: 336px;
  padding-left: 10px;
  background-image: url(../img/calendar.png);
  background-repeat: no-repeat;
  background-position: center right 8px;
  margin-left: auto;
}

.booking-form input:hover  {
  background-color: #ebebeb;
}

.date input:hover {
  background-image: url(../img/calendarblack.png);
  background-repeat: no-repeat;
  background-position: center right 8px;
}

.date input:focus {
  background-image: url(../img/calendarblue.png);
  background-repeat: no-repeat;
  background-position: center right 8px;
}

.booking-form input:focus {
  background-color: white;
  border: 2px solid #e5e5e5;
  height: 24px;
}

.button-submit {
  display: inline-block;
  width: 458px;
  background-color: #81b3d2;
  padding: 16px 0;
  line-height: 26px;
  font-size: 21px;
  font-weight: 700;

  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}

.button-submit:hover,
.button-submit:focus  {
  background-color: #669ec0;
}

.button-submit:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}


.footer  {
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
  display: flex;
  padding-bottom: 50px;
  padding-top: 32px;
  padding-right: 100px;
  padding-left: 132px;
  align-items: center;
}

.hashtag {
  line-height: 26px;
  font-size: 21px;
  font-weight: 700;
}

.footer-social {
  display: flex;
  width: 155px;
  justify-content: space-between;
  align-items: center;
  margin-left: 256px;
  margin-right: 220px;

}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin-right: 6px;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
  fill-opacity: 0,3;
}


.footer-copyright {
  display: flex;
  align-items: center;
  padding-top: 3px;
}

.footer-copyright p {
  margin: 0;
  padding-bottom: 3px;
  line-height: 26px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.footer-copyright img {
  padding-top: 3px;
  padding-left: 4px;
}

.index-footer {
  margin-top: -128px;
}


.filter form {
  font-size: 14px;
  font-weight: 700;
  color: white;
  background-image: url(../img/filter-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  padding: 0 70px;
  padding-top: 27px;
  padding-bottom: 7px;
  margin: 0;
  width: 1060px;
}

.filter input[type="checkbox"] {
  display: none;
}

.filter-option {
  position: relative;
  cursor: default;
  font-weight: 400;
  line-height: 21px;
  font-size: 14px;
  vertical-align: middle;
  padding-left: 30px;
}

.filter-option::before {
  content: "";
  position: absolute;
  background-image: url(../img/checkbox-on.png);
  background-repeat: no-repeat;
  left: -2px;
  width: 27px;
  height: 23px;
}


.filter fieldset {
  border: none;
  width: 254px;
  padding: 0;
  margin: 0;
}

.filter legend {
  font-weight: 700;
  line-height: 21px;
  font-size: 16px;
  margin-bottom: 24px;
}


.infrastructure li,
.hotel-category li {
  margin-bottom: 20px;
  line-height: 26px;
  font-size: 14px;
  font-weight: 400;
}

.filter-range {
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;
  padding-left: 222px;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls {
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  position: relative;
  font-size: 0;
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
  position: absolute;
  top: -9px;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.range-toggle:hover {
  background: #1c4f80;
}

.filter-submit {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.filter-submit:hover {
  color: #000000;
  background: #ffffff;
}

.infrastructure,
.hotel-category {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sort {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  background-color: white;
  font-size: 12px;
  line-height: 18px;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 31px;
  padding-top: 31px;
}

.sort p {
  margin: 0;
  padding: 0;
}

.sort-price {
  padding-right: 73px;
  display: flex;
  width: 35px;
  justify-content: space-between;
  margin: 0;
  margin-left: auto;
}

.sort-by-price path {
  fill: #cacaca;
}

.sort-by-price-current path {
  fill: #81b3d2;
}

.sort-by-price path:hover,
.sort-by-price-current path:hover {
  fill: #231f20;
}

.sort-by-price path:focus,
.sort-by-price-current path:focus {
  fill: #81b3d2;
}

.sort-by-price path:active,
.sort-by-price-current path:active {
  fill: #81b3d2;
}

.sort ul {
  list-style: none;
  padding-left: 47px;
}

.sort-wrapper {
  display: flex;
  padding-left: 70px;
  align-items: baseline;
}

.sort-type {
  display: flex;
  margin: 0;
  width: 355px;
  justify-content: space-between;
}

.sort-type a {
  color: #cacaca;
  border-bottom: 1px dashed #81b3d2;
}

.sort-type li:nth-child(2) a {
  color: #81b3d2;
  border-bottom: none;
}

.sort-type a:active {
  color: black;
  border-bottom: none;
}

.sort-type a:hover,
.sort-type a:focus {
  color: #81b3d2;
  border-bottom: 1px dashed #81b3d2;
}



.found {
  font-size: 21px;
  line-height: 26px;
}

.filter-option,
.sort,
.sort-type,
.hotel-list  {
  list-style: none;
}

.hotel-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  list-style: none;
  padding: 0;
}

.hotel-list li  {
  background-color: white;
}


.hotel {
  display: flex;
  padding-top: 24px;
  padding-left: 70px;
  padding-bottom: 22px;
  border-bottom: 1px solid #f2f2f2;
}

.hotel img {
  padding-top: 6px;
}

.hotel-info {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.hotel-info h4 a {
  color: black;
}

.hotel-info h4 {
  margin: 0;
  text-transform: uppercase;
  line-height: 26px;
  font-size: 21px;
  margin-bottom: 8px;
}

.hotel-info p{
  text-transform: uppercase;
  line-height: 21px;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 15px;
}

.half-width-hotel {
  display: flex;
  justify-content:space-between;
  width: 259px;

}

.button-info,
.button-book {
  display: inline-block;
  padding: 3px 17px;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  color: white;

  text-align: center;
  text-transform: uppercase;
  border: none;
}

.button-info {
  background-color: #81b3d2;
}

.button-info:hover
.button-info:focus {
  background-color: #669ec0;
}

.button-info:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.button-book {
  background-color: #766357;
}

.button-book:hover
.button-book:focus {
  background-color: #604e43;
}

.button-book:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.main-rate {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-left: auto;
  justify-content: space-between;
  padding-right: 75px;
  padding-top: 6px;
}

.rate p {
  margin: 0;
}

.rate {
  padding-top: 2px;
  padding-bottom: 4px;
  color: #666666;
  background-color: #f2f2f2;
  text-align: center;
  width: 112px;
}

.stars-rate {
  padding-bottom: 22px;
}
